/node_modules
/public/storage
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
database/database_old/
.DS_store
/public/build/
/.phpstorm.meta.php
/_ide_helper.php
/_ide_helper_models.php
/npm-debug.log
/public/video
/public/css/
/public/js/
